<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome to THE landing page </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>


      </ul>

    </div>
  </div>
</nav>
    <div class="container">
        <h1> Employees  </h1>

<!--        {{students}}-->
<!--        {% for std in students %}-->
<!--            <li> {{std}}</li>-->
<!--        {%endfor%}-->
        <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
         <th scope="col">Salary</th>
        <th scope="col">Created at</th>
        <th scope="col">Updated at</th>
    </tr>
  </thead>
  <tbody>
    {% for emp in emps %}
        <tr>
            <td> {{emp.employee_id}}</td>
            <td> {{emp.full_name}}</td>
            <td> {{emp.email}}</td>
            <td> {{emp.salary}}</td>
            <td> {{emp.created_at}}</td>
            <td> {{emp.updated_at}}</td>

        </tr>
    {% endfor %}

  </tbody>
</table>



    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>